@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
:root{
    --darkBlue2: #022C5D;
    --darkBlue: #012C58;
    --kala: #000000;
    --nila: #2FC4EE;
    --ofwhite: #F2F2F2;
    --white: #FFFFFF;
    --jamni:#485E72;
    --darknila:#1877F2;
    --red:#FC6A1F;
    --lightkala:#0E3D4A;
    --pink:#EAEAEA;
    --mati:#9A9A9A;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}
.firstcontainer{
    margin: auto;
    width: 80%;
}
 
nav{
    display: flex;
    background-color: var(--white);
    width: 100%;
    height: 90px;
    justify-content: space-between;
}
.nav_left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav_left h1{
    font-size: 30px;
    font-family: 'roboto';
    font-weight: 700;
    /* font-size: 26px; */
}
.nav_right{
    display: flex;
    align-items: center;
    gap: 30px;
}
ul{
    display: flex;
    gap: 30px;
}
a{
    text-decoration: none;
    color: var(--darkBlue2);
}

li{
    list-style: none;
    text-transform: uppercase;
    font-family: 'roboto';
    font-size: 18px;
    font-weight: 500;
}
.nav_right ul li a.active {
    background-color: var(--darkBlue2);
    color:var(--white); 
    border-radius: 50px;
    padding: 11px 20px;
}


/* ***************************Section2 started *******************************  */
.herosection{
    padding: 50px 0px;
    background-color:var(--nila);
}
.textpic{
    display: flex;
    align-items: center;
}
.hero_text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero_text p{
    color: var(--darkBlue);
    font-family: 'Italiana';
    font-size: 20px;
}
.hero_text h1{
    color: var(--kala);
    font-family: 'roboto';
    font-size: 6rem;
    font-weight: 700;
    width: 600px;
    
}
.hero_text h1 span{
    color: var(--red);
}
 .btn{
    color: var(--white);
    font-size: 16px;
    font-family: 'roboto';
    font-weight: 500;
    background-color: var(--red);
    border-radius: 5px;
    /* padding: 11px 0px; */
    border: 1px solid var(--red);
    height: 43px;
    width: 158px;
    white-space: nowrap;
    margin-top: 30px;
}

.heroimg img{
    width: 550px;
    /* margin-left: -70px;    */
}

/* ***************************Section3 started *******************************  */

.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding:50px 0;
    /* border: 2px solid goldenrod; */
}
.service h6{
    color: var(--red);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
}
.service h3{
    color: var(--red);
    font-weight: 700;
    font-size: 26px;
    margin-top: -12px;
}
.cardline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    /* border: 2px solid rebeccapurple; */
    width: 100%;
    
}
.card{
    display: flex;
    flex-direction: column;
    /* border: 1px solid goldenrod; */
    justify-content: center;
    align-items: center;
    height:134px;
    padding: 3px;;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card img{
    width: 80px;
    height: 80px;
    /* font-size: 400px; */
    padding: 10px;
}
.card p{
    font-family: 'roboto';
    font-size: 18px;
    font-weight: 800;
}
.about{
    padding-top: 40px;
    display: flex;
    justify-content:space-between;
    /* gap: 30px; */
    /* border: 2px solid gold; */
    /* align-items: center; */
}
.aboutleft{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about .aboutleft h3{
    font-weight: 700;
    font-size: 41px;
    color: var(--kala);
}
.aboutleft p{
    width: 400px;
    font-size: 14px;
    margin-top: -15px;
    margin-bottom: 2px;
}
.aboutleft h5{
    font-size: 18px;
    font-weight: 700;
    font-family: 'roboto';
    margin-top: -15px;
    width: 300px;
}
.btn1{
    font-size: 16px;
    font-family: 'roboto';
    font-weight: 500;
    color: var(--white);
    background-color: var(--red);
    border-radius: 5px;
    border: 1px solid var(--red);
    height: 43px;
    width: 138px;
    /* margin-top: -10px; */
}
.aboutright img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 550px;
}

/* ***************************Section4 started *******************************  */

.section4{
    background-color: var(--nila);
    /* height: 100%; */
    /* width: 100%; */
    /* padding-bottom: 50%; */
}
.ourdoctors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding:50px 0;
}
.ourdoctors h6{
    color: var(--red);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
}
.ourdoctors h3{
    color: var(--white);
    font-weight: 700;
    font-size: 26px; 
    margin-top: -12px;  
    padding-bottom: 60px;
}
.cardcontainer2{
    display: flex;
    flex-direction: row;
    /* border: 20px solid red; */
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    /* margin-top: 15px; */
}

.card2{
    border-radius: 10px;
    /* width: 400px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card2 img{
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    height: 164px;
    width: 100%;
}
.cardcontent{
    padding: 20px 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cardcontent h4{
    font-family: 'roboto';
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}
.cardcontent p{
    width: 220px;
    font-family: 'roboto';
    font-weight: 400;
    font-size: 14px;
}
.arrow{
display:  flex;
align-items: center;
gap: 10px;
}
.arrow i{
    color: var(--white);
    background-color: var(--red);
    border-radius: 50%;
    padding: 10px;
}
.arrow p{
    letter-spacing: 1px    ;
    color: var(--red);
}
/* ***************************Section5 started *******************************  */
/* .section5{
 width: 100%;
 height: 50vh;
 border: 6px solid red;
 margin-top: -100px;
} */

.bestmedi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.bestmedi h1{
    width: 500px;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--darkBlue2);
    padding-bottom: 4%;
    text-align: center;
    /* border: 2px solid blue; */
}
/* <!-- ***************************Section6 started *******************************  --> */
.section6{
    /* width: 100%;
    height: 100vh; */
    background-color: var(--nila);
    padding: 60px 0;
   }
   .ourservices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
   }
   .ourservices h6{
    color: var(--red);
    font-weight: 500;
    font-size: 18px;

}
.ourservices h3{
    color: var(--white);
    font-weight: 700;
    font-size: 26px;
    padding-bottom: 50px;

}
   
   .cardcontainer3{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;

   }
.card3{
        border-radius: 10px;
        /* width: 400px; */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: relative;
        border-radius: 30px 0 30px 0;
        background-color: var(--white);
        /* padding-top: 20px; */
}
.card3 img{
    position: absolute;
    size: 30px;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    top: -40px;
    left: 130px;
    object-fit: cover;
}
.cContent{
align-items: center;
display: flex;
flex-direction: column;
    gap:10px;
padding: 60px 40px;
text-align: center;
}
.cContent p{
    font-size: 14px;
    font-weight: 300;
}
.namenumber{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.namenumber h4{
    color: var(--kala);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 800;
}
.namenumber p{
    color: var(--red);
    text-align: center;
}
.socialmedia{
    display: flex;
    gap: 20px;
    font-size: 24px;
}
.fa-square-facebook, .fa-linkedIn{
    color:var(--darknila);
}
.fa-twitter{
    color: var(--nila);
}
.fa-youtube{
    color: var(--red);
}
.card3 .arrow i{
    font-size: 10px;
    width: 15px;
    text-align: center;
    padding: 2px;
    height: 15px;
}
.card3 .arrow P{
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 0;
}
.card3 p{
    font-size: 16px;
    padding-bottom: 6%;
}
/* <!-- ***************************Sectionlast started *******************************  --> */

.footer{
    background-color: var(--jamni);
    /* width: 100%;
    height: 64vh; */
}
.footerbox{
    padding: 60px 0;
}
.footerdetailbox{
    display: flex;
    gap: 8px;
    padding-top: 50px;
}
.footerdetailbox h3{
    color: var(--white);
    font-size: 20px;
    padding-bottom: 20px;
}
.box1 p{
    color: var(--white);
    font-size: 15px;
    width: 260px;
    font-weight: 300;
}
.box1{
    display: flex;
    flex-direction: column;
}
.contectbox{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
}
.contect2box{
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* padding-top: 20px; */
}
.contectbox1,.contectbox2,.contectbox3{
    display: flex;
    gap: 10px;
}
.contectbox1 p,.contectbox2 p,.contectbox3 p{
    color: var(--white);
    font-size: 14px;
    padding-bottom: 0;
}
.contectbox1 i,.contectbox2 i,.contectbox3 i{
    color: var(--white);
    font-size: 20px;
}
.lasttbox{
    display: flex;
    flex-direction:column;
    gap: 20px;
}
.datarow{
    display: flex;
    flex-direction: row;
    gap:20px;
}
.datarow h4{
    color: var(--white);
    width: 50%;
    font-weight: 300;
}
.socialmedia2{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.socialmedia2 i{
  color: var(--white);
  font-size: 24px;
 
}
/* <!-- ***************************Section7 started *******************************  --> */
.section7{
    /* width: 100%; */
    height:60vh;
    background-image: linear-gradient(rgba(255, 126, 95, 0.5),
     rgba(119, 185, 240, 0.5)), url('imgs/emergency.png');
    /* background-image: url('imgs/emergency.png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.text_area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text_area h1{
    font-size: 40px;
    font-weight:600;
    color:var(--lightkala);
    width: 400px;
    padding-bottom: 10px;
}
.text_area span{
    color: var(--red);
}

/* <!-- ***************************Section8 started *******************************  --> */
/* .section8{
    width: 100%;
    height: 90vh;
} */
.boxforform{
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
    padding-top: 60px;
    padding-bottom: 30px;
}
.leftside{
    /* background-image: url(imgs/1Dr.png); */
    width: 40%;
    /* height: 100%; */
    /* border: 2px solid gray; */
    position: relative;
}
.leftside img{
    object-fit:cover;
    border-radius: 50%;
    height:380px;
    width: 380px;
    position: absolute;
    top: 50px;
}
.rightside{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.rightside h6{
    color:var(--red);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}
.rightside h1{
    color: var(--kala);
    font-size:   40px;
    font-weight: 700;
    width: 390px;
    letter-spacing: 2px;
}
.rightside span{
    color: var(--red);
} 

.feild{
    display: flex;
    /* flex-direction: ; */
    gap: 15px;
    /* border: 2px solid red; */
    width: 100%;
}
.usermail, .username{
    width: 100%;
}

.username input, .usermail input{
    color: var(--mati);
    background-color:var(--pink);
    padding: 1px 20px;
    height: 40px;
    width: 100%;
    border:none;
    font-size: 14px;
    border-radius: 8px;
}

#txtarea{
    height: 150px;
    width: 100%;
    color: var(--mati);
    background-color:var(--pink);
    padding: 14px 20px;
    border:none;
    font-size: 14px;
    border-radius: 8px;
}
.btnn{
    width: fit-content;
    padding: 12px 5px;
    background-color: var(--red);
    color: var(--white);
    font-weight: 500;
    border: none;
    font-size: 18px;
    border-radius: 4px;
}
.btnn p{
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}
/* <!-- ***************************Section9 started *******************************  --> */

.Section9{
    background-color: var(--white);
    /* width: 100%;
    height: 70vh; */
    /* border: 2px solid rebeccapurple; */
    padding:60px 0;
}
.clintsay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.clintsay h1{
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 2px;
    padding-bottom: 40px;
}
.clintdata{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.msg{
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.msg img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit:cover;
}
.msg h1{
    font-size: 24px;
    font-weight: 700;
    color: var(--kala);
    padding-bottom: 0;
}
.msg p{
    width: 280px;
}

/******************************** CSS Responsive  ***************************/
 
 @media (min-width: 320px) and (max-width: 395px){  
   nav{
       flex-wrap: wrap;
       white-space: nowrap;    
       height: auto;
       gap: 15px;
       align-items: center;
       justify-content: center;
   }
   .nav_right{
       gap: 12px;
       flex-wrap: wrap;
       justify-content: center;
   }
   ul{
       gap: 12px;
       flex-wrap: wrap;
       justify-content: center ;
    }
    li{
        font-style: 12px;
   }
   .textpic{
       flex-wrap: wrap;
       align-items: center;
       text-align: center;
    justify-content: center;
   }
   .hero_text h1{
       width: auto;
       font-size: 40px;
   }
   .heroimg img{
       width: 235px;
   }
   .cardline{
       flex-wrap: wrap;
       gap: 2;
   }
   .about {
       gap: 40px; 
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
   }
   .aboutleft{
       align-items: center;
       justify-content: center;
   }
   .about .aboutleft h3 {
       font-size: 18px;
       font-weight: 600;
   }
   .aboutleft h5 {    
       width: 209px;
   }   
   .aboutleft p{
       width: 212px;
   }
   .aboutright img{
       width: 231px;
   }
   .ourdoctors h3 {
       padding-bottom: 14px;
       width: 156px;
   }
   .bestmedi h1 {
       padding: 9%;
       font-size: 22px;
        letter-spacing: 0px;
        width: 214px;
   }
   .text_area h1 {
       font-size: 15px;
   }




   .cardcontainer2{
       flex-wrap: wrap;
       gap:20px;
       align-items: center;
       justify-content: center;
   }
   
.card2{
    width: 255px;
}
   .cardline {
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;
   }
   .cardcontainer3{
       flex-wrap: wrap;
      
   }
   .ourservices h3{
    font-size: 18px;
   }
   .card3{
       margin-bottom: 44px;
   }
   .box1 p{
    width: 170px;
   }
   .card3 img{
       left: 86px;
   }
   .msg p {
    width: 177px;
}
   .boxforform{
       flex-wrap: wrap;
       gap: 10px;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       text-align: center;
   }
   .leftside img{
       position: static;
       height: 200px;
       width: 200px;
   }
   .rightside{
       width: 90%;
   }
   .rightside h1 {
      display: none;
   }
   .Section9{
       background: lavender;
   }
   .clintsay h1 {
       font-size: 25px;
   }
   .clintdata{
       flex-wrap: wrap;
       justify-content: center;
   }
   .footerdetailbox{
       flex-wrap: wrap;
       justify-content: center ;
       gap: 20px;
   }
   .footerdetailbox h3 {
    font-size: 18px;
}
   .socialmedia2{
    justify-content: center;
   }
} 
 @media (min-width: 396px) and (max-width: 575px){  
   nav{
       flex-wrap: wrap;
       white-space: nowrap;    
       height: auto;
       gap: 15px;
       align-items: center;
       justify-content: center;
   }
   .nav_right{
       gap: 12px;
       flex-wrap: wrap;
       justify-content: center;
   }
   ul{
       gap: 12px;
       flex-wrap: wrap;
   }
   .textpic{
       flex-wrap: wrap;
       align-items: center;
       text-align: center;
    justify-content: center;
   }
   .hero_text h1{
       width: auto;
       font-size: 58px;
   }
   .heroimg img{
       width: 350px;
   }
   .cardline{
       flex-wrap: wrap;
       gap: 2;
   }
   .about {
       gap: 40px; 
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
   }
   .aboutleft{
       align-items: center;
       justify-content: center;
   }
   .about .aboutleft h3 {
       font-size: 18px;
       font-weight: 600;
   }
   .aboutleft h5 {    
       width: 209px;
   }   
   .aboutleft p{
       width: 322px;
   }
   .aboutright img{
       width: 318px;
   }
   .ourdoctors h3 {
       padding-bottom: 24px;
   }
   .bestmedi h1 {
       padding: 9%;
       font-size: 22px;
        letter-spacing: 0px;
        width: 214px;
   }
   .text_area h1 {
       font-size: 20px;
   }




   .cardcontainer2{
       flex-wrap: wrap;
       gap:20px;
       align-items: center;
       justify-content: center;
   }
   .cardline {
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;
   }
   .cardcontainer3{
       flex-wrap: wrap;
   }
   .card3{
       margin-bottom: 44px;
   }
   .card3 img{
       left: 130px;
   }
   .boxforform{
       flex-wrap: wrap;
       gap: 10px;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       text-align: center;
   }
   .leftside img{
       position: static;
       height: 200px;
       width: 200px;
   }
   .rightside{
       width: 90%;
   }
   .rightside h1 {
      display: none;
   }
   .Section9{
       background: lavender;
   }
   .clintsay h1 {
       font-size: 25px;
   }
   .clintdata{
       flex-wrap: wrap;
       justify-content: center;
   }
   .footerdetailbox{
       flex-wrap: wrap;
       justify-content: center ;
       gap: 20px;
   }
   .socialmedia2{
    justify-content: center;
   }
} 
 @media (min-width: 576px) and (max-width: 767px){ 
    
    nav{
        flex-wrap: wrap;
        white-space: nowrap;    
        height: auto;
        gap: 15px;
        align-items: center;
    }
    .nav_right{
        gap: 12px;
        flex-wrap: wrap;
    }
    ul{
        gap: 12px;
        flex-wrap: wrap;
    }
    .textpic{
        flex-wrap: wrap;
        align-items: center;
    }
    .hero_text h1{
        width: auto;
        font-size: 78px;
    }
    .heroimg img{
        width: 400px;
    }
    .cardline{
        flex-wrap: wrap;
    }
    .about {
        gap: 40px; 
        flex-wrap: wrap;
    }
    .cardcontainer2{
        flex-wrap: wrap;
        gap:20px;
        align-items: center;
        justify-content: center;
    }
    .cardline {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .cardcontainer3{
        flex-wrap: wrap;
    }
    .card3{
        margin-bottom: 44px;
    }
    .card3 img{
        left: 200px;
    }
    .boxforform{
        flex-wrap: wrap;
        gap: 10px;
        flex-direction: column;
    }
    .leftside img{
        position: static;
    }
    .rightside{
        width: auto;
    }
    .clintsay h1 {
        font-size: 30px;
    }
    .clintdata{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footerdetailbox{
        flex-wrap: wrap;
        justify-content: center ;
        gap: 20px;
    }
 
}

@media (min-width: 768px) and (max-width: 991px){
   
    nav{
        flex-wrap: wrap;
        white-space: nowrap;
    }
    .nav_right,ul{
        gap: 12px;
    }
    .textpic{
        flex-wrap: wrap;
    }
    .cardline{
        flex-wrap: wrap;
        justify-content: center;
    }
    .about {
        gap: 30px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    /* .aboutleft{
        align-items:center;
    }
    .aboutleft p{
        align-items: center;
    } */
    .cardcontainer2{
        flex-wrap: wrap;
        gap:20px;
        align-items: center;
        justify-content: center;
    }
    .ourdoctors h3 {
        padding-bottom: 30px;
    }
    .cardcontainer3{
        flex-wrap: wrap;
    }
    .card3{
        margin-bottom: 44px;
    }
    .card3 img{
        left: 264px;
    }
    .boxforform{
        flex-wrap: wrap;
        gap: 10px;
        flex-direction: column;
    }
    .leftside img{
        position: static;
    }
    .rightside{
        width: auto;
    }
    .clintdata{
        flex-wrap: wrap;
    }
    .footerdetailbox{
        flex-wrap: wrap;
        gap: 20px;
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) { 
    
    nav{
        justify-content: space-between;  
    }
    .nav_left{
        gap: 2px;
    }
    li{
        font-size: 14px;
        white-space: nowrap;
    }
    .nav_right{
        gap: 12px;
    }
    ul{
        gap: 12px;
    }
    .heroimg img {
        width: 430px;
    }
    .hero_text h1 {
        font-size: 5rem;
        width: 436px;
    }
    .card p {
        font-size: 14px;
        white-space: nowrap;
    }
    .msg p {
        width: 200px;
    }
    .cardline{
        width: 100%;
    }
    
    .ourdoctors h3 {
        padding-bottom: 30px;
    }
    .footerdetailbox{
        gap: 0;
        padding-top: 27px;
    }
    .box1 p{
        width: 177px;
    }
    .card3 img {
        width: 85px;
        height: 85px;
        left: 86px;
    }
    .leftside img{
        height: 308px;
        width: 308px;
    }
    .cardcontainer2{
        justify-content: space-between;
        gap: 0;
    }
    .card2{
        width: 30%;
    }
    .aboutright img{
        width: 377px;

    }
 } 

@media (min-width:1200px) and (max-width: 1400px) {
    
    .nav_right{
        gap: 15px;
    }
    ul{
        gap: 15px;
    }  
    .hero_text h1{
    font-size: 6rem;
    width: 507px;
    }
    .heroimg img{
        width: 500px;
        
    }
    .ourdoctors h3 {
        padding-bottom: 23px;
    }
    .card p{
        white-space: nowrap;
    }
    .card3 img{
        left: 130px;
    }
    .msg p{
        width: auto;
    }
    .footerdetailbox {
        gap: 0;
    }
    .box1 p{
        font-size: 12px;
        width: 217px;
    }
 }





/* Breakpoint at 1400px */
